<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Takiwadai</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<nav class="navbar navbar-dark bg-primary text-primary">
    <div class="container">
        <a class="text-primary">что?</a><a class="nav-link" title="Архив заданий" href="/archive"><img width="60%" height="60%" src="/assets/icons/Tilda_Icons_1ed_book.svg"></a>
        <a class="nav-link" title="Рейтинг" href="/rating"><img width="60%" height="60%" src="/assets/icons/Tilda_Icons_1ed_cup.svg"></a>
        <a class="nav-link" title="Главная" href="/"><img width="60%" height="60%" src="/assets/icons/Tilda_Icons_1ed_brain.svg"></a>
        <a class="nav-link" title="Профиль" th:href="${auth}?'/profile':'/login'"><img width="60%" height="60%" src="/assets/icons/Tilda_Icons_1ed_teacher.svg"></a>
        <a class="nav-link" title="Выполненные задачи" href="/calendar"><img width="60%" height="60%" src="/assets/icons/Tilda_Icons_1ed_calendar.svg"></a>
    </div>
</nav>
<div class="container mb-0 main">
    <br>
    <span th:hidden="${auth}?'false':'true'"><div class="alert alert-info h5" role="alert">Вы успешно авторизированны. Чтобы выйти из аккаунта <a class="alert-link" href="/logout">нажмите сюда</a>.</div></span>
    <div class="p">Takiwadai</div><hr>
    <div>
        <h4>
            <span class="badge badge-pill badge-warning">Java</span>
            <span class="badge badge-pill badge-info">Python</span>
            <span class="badge badge-pill badge-secondary">PHP</span>
            <span class="badge badge-pill badge-danger">Ruby</span>
            <span class="badge badge-pill badge-success">C++</span>
            <span class="badge badge-pill badge-secondary">Perl</span>
        </h4>
        <br>
        <h4 class="description">Cовременная система с <a title="Перейти на GitHub проекта" href="https://github.com/funcid/Takiwadai">открытым исходным кодом</a> для тестирования<br>программ и соревнований за лучшее решение.</h4>
        <br>
        <br>
    </div>
</div>
</body>
</html>