<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Takiwadai > Task</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>

<nav class="navbar navbar-dark bg-primary text-primary">
    <div class="container">
        <a class="text-primary">что?</a><a class="nav-link" title="Архив заданий" href="/archive"><img width="60%"
                                                                                                       height="60%"
                                                                                                       src="/assets/icons/Tilda_Icons_1ed_book.svg"></a>
        <a class="nav-link" title="Рейтинг" href="/rating"><img width="60%" height="60%"
                                                                src="/assets/icons/Tilda_Icons_1ed_cup.svg"></a>
        <a class="nav-link" title="Главная" href="/"><img width="60%" height="60%"
                                                          src="/assets/icons/Tilda_Icons_1ed_brain.svg"></a>
        <a class="nav-link" title="Профиль" th:href="${auth}?'/profile':'/login'"><img width="60%" height="60%"
                                                                                       src="/assets/icons/Tilda_Icons_1ed_teacher.svg"></a>
        <a class="nav-link" title="Выполненные задачи" href="/calendar"><img width="60%" height="60%"
                                                                             src="/assets/icons/Tilda_Icons_1ed_calendar.svg"></a>
    </div>
</nav>
<div class="container main h3 mb-0 center-block w-50">
    <br>
          <span th:hidden="!${auth}" class="h5"><div class="alert alert-danger" role="alert">Что бы загрузить решение <a
                  class="alert-link" href="/login">авторизируйтесь</a>.</div></span>
    <div>
        <a class="h1" th:text="${title}"></a>
        <div class="badge badge-pill badge-warning h3">
            <a th:text="'Автор ' + ${author}">[AUTHOR]</a>
        </div>
        <div class="badge badge-pill badge-info h3">
            <td th:text="${pp} == null ? 'не рейтинговая' : ${pp} + 'pp'">[PP]</td>
        </div>
    </div>
    <div class="h6">
        <tr th:each="lang : ${langs}">
            <span th:class="'badge badge-pill ' + ${lang.pillColor}"><a th:text="${lang.name}">[LANG]</a></span>
        </tr>
    </div>
    <hr>
    <div th:utext="${content}">
    </div>
    <hr>
    <div class="h5">
        <form th:hidden="${auth}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="btn-dark btn">
            <button type="submit" class="btn btn-success">Проверить</button>
        </form>
        <br>
    </div>
</div>
</body>
</html>